extends layout

mixin message(messageObj)
    .message
        h6 #{messageObj.user}
        p #{messageObj.message}

mixin userMessage(messageObj)
    .userMessage
        h6 #{messageObj.user}
        p #{messageObj.message}

block content
    .container
        .innerContainer
            .header
                h3 Socket Chat
                h5 You are Logged in as #{name}
            .content
                .messages#messages
                    for message in chatroom.messages
                        if message.uid === uid
                            +userMessage(message)
                        else
                            +message(message)

            .input
                form(action="" id="chat")
                    input(id ="m" autocomplete="off")
                    input(id="hidden" value=`${uid}`)
                    button Send
            .signout
                form(action="/signout", method="POST")
                    button(type="submit" id="delete-trip" name="remove") Signout
    script(src="../socket.io/socket.io.js")
    script(src="https://code.jquery.com/jquery-1.11.1.js")
    script(src="../chat.js")