extends layout


block content
  .container
    .top
      #title
        h1 Todo with Express + Jade
      h3 Enter Task
      form(action="/addTask", method="POST")
        input(type="text" id="enter-task-input" placeholder="New Task" name="taskName")
        input(type="submit" id="add-task")
    .middle#pending
      h3 Pending Tasks
      ul
        for task in pendingTasks
          li
            .task
              form(class="left" action="/moveTaskCompleted", method="POST")
                button(type="submit" name="check" value="#{pendingTasks.indexOf(task)}") Move
              .taskName
                p #{task.taskName}
              form(class="right" action="/removePendingTask", method="POST")
                button(type="submit" name="remove" value="#{pendingTasks.indexOf(task)}") Remove

    .bottom#completed
      h3 Completed Tasks
      ul
        for task in completedTasks
          li
            .task
              form(class="left" action="/moveTaskPending", method="POST")
                button(type="submit" name="check" value="#{completedTasks.indexOf(task)}") Move
              .taskName
                p #{task.taskName}
              form(class="right" action="/removeCompletedTask", method="POST")
                button(type="submit" name="remove" value="#{completedTasks.indexOf(task)}") Remove

